.navbar{
  .nav-link{
    font-size:14px;
    text-transform:uppercase;
    padding-left:1em !important;
    padding-right: 1em !important;
  }
  .social-media{
    .fa{
      font-size:20px !important;
    }
  }
}