<header id="work-header">
    <div class="dark-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-6 m-auto text-center textInfo">
            <h1>Where Have I Worked?</h1>
            <p class="d-none d-md-block">You name it... I have some experience in it.</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- MAIN SECTION -->
  <section id="work" class="py-4">
    <div class="container">

      <div class="row mt-3">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><a href="https://www.morrell-group.com/">MorrellGroup, LLC</a></h3>
              <h6 class="text-dark"><strong>Motion Control Engineer</strong></h6>
              <hr>
              <div class="row">
                <div class="col-lg-8">
                  <p class="card-text">
                    I am very proud to say I work for MorrellGroup with some of the brightest minds
                    working in industrial automation. MorrellGroup has five divisions: 
                    Morrell, Stegner Controls, WESS, Morrell Defense, and Stegner Aerospace. 
                    My role in the company is working with Stegner Aerospace to provide motion 
                    control solutions to aerospace customers. 
                  </p>
                  <p class="card-text">
                    My main responsibilities at the company include reviewing RFQs and identifying opportunities
                    for Stegner Aerospace to sell motion systems and safety components. The projects are primarily focused on
                    developing maitenance and manufacturing equipment, such as lifts and stands. I am also involved in research
                    and development for a top secret industrial automation project and utilize CAD systems daily.
                  </p>
                  <hr>
                  <p class="mb-0">Skills Learned: SolidEdge ST10, Finite Element Analysis, Linear Motion Technology, Industrial Automation, Crossing Products of Competitors</p>
                </div>
                <div class="col-lg-4">
                  <a href="../../assets/img/morrell-group.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="../../assets/img/morrell-group.jpg" alt="" class="rounded d-none d-lg-block img-fluid">
                  </a>
                </div>
              </div>

            </div>
            <div class="card-footer">
              <h6 class="text-muted mb-0"><small>January 2018 - Present</small></h6>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><a href="https://www.myanatomicalmodels.com/">Models Plus, LLC</a></h3>
              <h6 class="text-dark"><strong>Product Engineer</strong></h6>
              <hr>
              <div class="row">
                <div class="col-lg-8">
                  <p class="card-text">While I worked at Models Plus, I successfully led engineering design,
                    drafting and 3D printing for 34 projects in 9 months. I designed a handheld orthodontic
                    product for injection molded manufacturing using SolidWorks and 3D printing. I modeled and
                    completed engineering drawings for an AR15 bolt carrier for production level CNC machining of up to 1,800
                    units per month. I designed and tested fixtures for hard coating and metalizing both sides of 3 automotive emblems. </p>
                    <p class="card-text">In addition to my responsibilities as an engineer, I was also involved in business improvement.
                      I built product databases for analyzing labor and material costs, which resulted in the implementation of
                      new molding techniques that reduced labor and materials by 60% and 20%, respectively. I mapped two buildings for
                      relocating machinery to improve employee foot traffic. I orchestrated the development of an employee appreciation program
                      for recognizing great employees.
                    </p>
                    <hr>
                    <p class="mb-0">Skills Learned: SolidWorks, 3D Printing, Fixtures, Casting, Molding, Vacuum Forming, Laser Cutting</p>
                </div>
                <div class="col-lg-4">
                  <a href="../../assets/img/3dprinter.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="../../assets/img/3dprinter.jpg" alt="" class="rounded d-none d-lg-block img-fluid">
                  </a>
                </div>
              </div>

            </div>
            <div class="card-footer">
              <h6 class="text-muted mb-0"><small>June 2016 - February 2017</small></h6>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><a href="https://promazo.com/">ProMazo, LLC</a></h3>
              <h6 class="text-dark"><strong>Design Consultant</strong></h6>
              <hr>
              <div class="row">
                <div class="col-lg-8">
                  <p class="card-text">I led product design for a consulting project with Whirlpool using NX computer
                    aided design. Whirlpool invested $500,000+ in the design and the product will launch in Q4 of 2017
                    to reach a potential of 100,000+ people. I confidentially developed the product in collaboration
                    with a team of 7 Notre Dame affiliates and we completed the project on time and under budget.
                    The product included both digital and physical components centered around an intuitive user experience.
                    The team conducted department store and online market research to heighten product differentiation.
                  </p>
                  <p class="card-text">
                    In addition to designing the product, I joined the team in watching a focus group behind
                    tinted glass at Whirlpool's headquarters. We also visited local business owners to talk to them
                    about their products and collect information that would help us build the product.
                  </p>
                  <hr>
                  <p class="mb-0">Skills Learned: Collaboration, Rapid Prototyping, Diligence, Creativity, Problem Solving</p>
                </div>
                <div class="col-lg-4">
                  <a href="../../assets/img/proMazo.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="../../assets/img/proMazo.jpg" alt="" class="rounded d-none d-lg-block img-fluid">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <h6 class="text-muted mb-0"><small>January 2016 - May 2016</small></h6>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><a href="https://www.puresomni.com/">Somni, LLC</a></h3>
              <h6 class="text-dark"><strong>Product Development</strong></h6>
              <hr>

              <div class="row">
                <div class="col-lg-8">
                  <p class="card-text">
                    While I worked at Somni, I wrote a business plan with financial forecasts,
                    conducted market research, developed customer acquisition strategies, and growth strategies.
                    I was involved in the initial development of the product offering through assisting the
                    founder with outlining program lessons. In addition, I was involved with social media development
                    and outreach.
                  </p>
                  <p class="card-text">
                    Since Somni was a startup company, I was involved in some of the ground-level activities,
                    which were really fun and exciting. Some of the day-to-day activities were
                    assembling the Sleep Boxes for shipping to the customer, and social media
                    management. In addition, I traveled to University of Chicago with the founder
                    of the company to participate in the Sleep Revolution with Arianna Huffington,
                    co-founder and editor-in-chief of the Huffington Post.
                    At the event, we set up a table and pitched the company's value propositions
                    to potential customers!
                  </p>
                  <hr>
                  <p class="mb-0">
                    Skills Learned: Business Plans, Financial Forecasts, Growth Strategies, Social Media Management
                  </p>
                </div>
                <div class="col-lg-4">
                  <a href="../../assets/img/somni.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="../../assets/img/somni.jpg" alt="" class="rounded d-none d-lg-block img-fluid">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <h6 class="text-muted mb-0"><small>June 2015 - June 2016</small></h6>
            </div>
          </div>
        </div>
      </div>

      <div class="row my-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><a href="https://msu.edu/">Michigan State University</a></h3>
              <h6 class="text-dark"><strong>Mechanical Engineering Teaching Assistant</strong></h6>
              <hr>
              <div class="row">
                <div class="col-lg-8">
                  <p class="card-text">I conducted class demonstrations in computer aided design and drafting with NX
                    for three semesters at Michigan State University. During my time there, I challenged 105+ students
                    to work both independently and as part of a team. I was responsible for distributing class material
                    and keeping other materials confidential, such as exams and quizzes.
                  </p>
                  <p class="card-text">
                  A typical day in the life of a teaching assistant was similar to a student.
                  I would go to class in the early morning, teach mid-morning, and return to class
                  in the afternoon. In between classes, I would answer emails and meet with students
                  to help them with their designs.
                  </p>
                  <hr>
                  <p class="mb-0">Skills Learned: NX, Teaching, Public Speaking, Communication</p>
                </div>

                <div class="col-lg-4">
                  <a href="../../assets/img/msuEB.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="../../assets/img/msuEB.jpg" alt="" class="rounded d-none d-lg-block img-fluid">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <h6 class="text-muted mb-0"><small>January 2014 - May 2015</small></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
