#college-header{
    height:350px;
    position:relative;
    background:url('../../assets/img/college.jpg');
    background-attachment:fixed;
    background-size:cover;
    background-position: 0px 0px;
    color:#fff;
    border-bottom:1px #eee solid;
    .textInfo{
        padding-top:150px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}