#college-header{
    height:350px;
    position:relative;
    background:url('../../assets/img/college.jpg');
    background-attachment:fixed;
    background-size:cover;
    background-position: 0px 0px;
    color:#fff;
    border-bottom:1px #eee solid;
    .textInfo{
        padding-top:150px;
    }
}