<header id="college-header">
    <div class="dark-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-6 m-auto text-center textInfo">
            <h1>Where Did I Study?</h1>
            <p class="d-none d-md-block">I spent my time in college at two Universities in the Midwest.</p>
          </div>
        </div>
      </div>
    </div>
  </header>


  <section id="college">
    <div class="container">
      <div class="row pt-4">
        <div class="col">
          <div class="card-deck">
            <div class="card mb-4">
              <a href="../../assets/img/notredameGrad.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="../../assets/img/notredameGrad.jpg" alt="" class="card-img-top img-fluid">
              </a>
              <div class="card-body">
                <h5 class="card-title">University of Notre Dame</h5>
                <p class="card-text text-dark">Master of Science in Technology Entrepreneurship (ESTEEM)</p>
                <hr>
                <p class="p-2mb-3 text-dark">
                  While at the University of Notre Dame, I earned a degree in Engineering, Science and
                  Technology Entrepreneurship. The graduate program taught me how to implement the technical
                  knowledge I learned while I was an undergraduate through working with a startup company for my thesis.
                  My thesis included scientific research, healthcare market analysis, a business plan, launch strategy and
                  financial forecasts for Somni's sleep improvement program.
                </p>
                <hr>
                <p class="text-dark mb-0">
                  Pitched in Startup Weekend Notre Dame
                </p>

              </div>
              <div class="card-footer">
                <h6 class="text-muted mb-0"><small>Graduated May 2016</small></h6>
              </div>
            </div>

            <div class="card mb-4">
              <a href="../../assets/img/msuGrad.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="../../assets/img/msuGrad.jpg" alt="" class="card-img-top img-fluid">
              </a>
              <div class="card-body">
                <h5 class="card-title">Michigan State University</h5>
                <p class="card-text text-dark">Bachelor of Science in Applied Engineering Sciences (AES)</p>
                <hr>
                <p class="text-dark">
                  While at Michigan State University, I earned a degree in Applied Engineering Sciences,
                  which is a combination of business and engineering. My degree has two concentrations;
                  Computer Science through the engineering department and Supply Chain Management through
                  the Eli Broad College of Business, which has the #1 Supply Chain Management program in the United States.
                </p>
                <hr>
                <p class="mb-0 text-dark">
                  Winner of "Most Sustainable" Capstone Thesis Award
                </p>
              </div>
              <div class="card-footer">
                <h6 class="text-muted mb-0"><small>Graduated May 2015</small></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FAQ -->
  <section id="faq" class="pb-4">
    <div class="container">
      <hr>
      <h3 class="text-center display-6">Frequently Asked Questions</h3>
      <hr>
      <div class="row mt-3">
        <div class="col-md-6">
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <a href="#collapseOne" data-toggle="collapse" data-parent="#accordion" class="text-dark">
                    What is ESTEEM?
                  </a>
                </h5>
              </div>

              <div id="collapseOne" class="collapse">
                <div class="card-body">
                  <p>
                    With a degree in ESTEEM students are immersed in solving problems
                    to bring emerging technology to life with their thesis. Throughout the program, students work
                    with a startup company to launch a new business or with an established company
                    to bring a new product to market. In addition, the students
                    are rigorously tested in academics, write a business plan, model financial forecasts,
                    conduct market research and interview potential customers. ESTEEM students learn
                    in the classroom, then practice the knowledge with their thesis project.
                    For more information on the degree, please click <a href="http://esteem.nd.edu/">here</a>.
                  </p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <a href="#collapseTwo" data-toggle="collapse" data-parent="#accordion" class="text-dark">
                    What can you do with a degree in ESTEEM?
                  </a>
                </h5>
              </div>

              <div id="collapseTwo" class="collapse">
                <div class="card-body">
                  <p>
                    A degree in ESTEEM gives students the ability to write
                    highly detailed business plans, conduct intense market research, interview
                    customers to find their pain points with products, and build in-depth financial
                    forecasts. The strong real-world experience while in graduate school
                    and the academic rigor of the thesis project allow students to find jobs in a wide
                    variety of industries. Some of the industries include consulting, consumer products, energy, financial
                    services, healthcare, manufacturing, technology, and government.
                  </p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <a href="#collapseThree" data-toggle="collapse" data-parent="#accordion" class="text-dark">
                    What was my most impactful project at Notre Dame?
                  </a>
                </h5>
              </div>

              <div id="collapseThree" class="collapse">
                <div class="card-body">
                  The most impactful project that I worked on while at Notre Dame was in one of my classes, data analytics.
                  The State of Indiana asked the class to mine 7 years of automobile accident history
                  to find patterns in the data and reduce the amount of accidents.  I found that
                  introducing rumble strips between two-way, two-land rural roads of 55+ MPH would significantly reduce
                  the amount of vehicular fatalities. My team presented the findings to State representatives,
                  and the State built the proposal into the annual budget for transportation.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <a href="#collapseFour" data-toggle="collapse" data-parent="#accordion" class="text-dark">
                    What is AES?
                  </a>
                </h5>
              </div>

              <div id="collapseFour" class="collapse">
                <div class="card-body">
                  <p>
                    Applied Engineering Sciences (AES) is a degree that combines both business and engineering.
                    The engineering college requires calculus 1-3, physics 1-2 for engineers, chemistry, engineering design and engineering modeling.
                    The major requires business classes, such as accounting, statistics, microeconomics, and macroeconomics, and
                    engineering classes, such as statics, circuits, thermodynamics, and materials science. Each student picks a
                    concentration for their degree. The options for concentrations are business law, computer science,
                    media and information, supply chain management, packaging, and technical sales.
                    For more information on the degree, please click <a href="https://www.egr.msu.edu/aes/">here</a>.
                  </p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                  <a href="#collapseFive" data-toggle="collapse" data-parent="#accordion" class="text-dark">
                    What can you do with a degree in AES?
                  </a>
                </h5>
              </div>

              <div id="collapseFive" class="collapse">
                <div class="card-body">
                  A degree in Applied Engineering Sciences is versatile. It teaches students to be able
                  to bridge the communication gap between technical and non-technical workers. Thus, allowing
                  them to be effective members and managers of interdisciplinary teams.  Some recent graduates
                  of the program landed jobs as account executives, product engineers, technical writers,
                  logistics engineers, and operations managers.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                  <a href="#collapseSix" data-toggle="collapse" data-parent="#accordion" class="text-dark">
                    What was my coolest project at Michigan State?
                  </a>
                </h5>
              </div>

              <div id="collapseSix" class="collapse">
                <div class="card-body">
                  <p>
                    The coolest project that I worked on at Michigan State was designing
                    a circuit board tutorial for deaf children in India. It included a
                    fully functional circuit with two switches and two light bulbs. The
                    circuit board was accompanied with YouTube tutorials to explain the
                    system and teach the students how electricity flows through a circuit.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>