.carousel-item{
    height:500px;
  }
  .carousel-image-1{
    background:url('../../assets/img/engineering.jpg');
    background-size:cover;
  }
  .carousel-image-2{
    background:url('../../assets/img/programming.jpg');
    background-size:cover;
  }
  .carousel-image-3{
    background:url('../../assets/img/business.jpg');
    background-size:cover;
  }
  
  #skills-header{
    background:url('../../assets/img/rocket.jpg');
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    color:#fff;
    text-align:center;
    position:relative;
    min-height:200px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }