<header id="fun-header">
  <div class="dark-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center textInfo">
          <h1>What Is Fun For Me?</h1>
          <p class="d-none d-md-block">Fun for me is adventure, new experiences, and learning.</p>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- BLOG SECTION -->
<section id="blog" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card-columns">

            <div class="card">
              <a href="../../assets/img/ari.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="../../assets/img/ari.jpg" alt="" class="card-img-top img-fluid">
              </a>
              <div class="card-body">
                <h4 class="card-title">Ari</h4>
                <small class="text-muted">December 1, 2018</small>
                <hr>
                <p class="card-text">
                  In December 2018, I rescued Ari from the animal shelter. She was 1 year old at the time,
                  and she is a Puggle (Pug mixed with a Beagle). She likes to play fetch, tug, and 
                  eat everything she can get her paws on.
                </p>
              </div>
            </div>


          <div class="card">
            <a href="../../assets/img/giraffe.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/giraffe.jpg" alt="" class="card-img-top img-fluid">
            </a>
            <div class="card-body">
              <h4 class="card-title">The Toledo Zoo</h4>
              <small class="text-muted">August 15, 2017</small>
              <hr>
              <p class="card-text">
                In August of 2017, I went to the Toledo Zoo with my family.
                When I was there I fed a giraffe the most expensive lettuce on Earth,
                ziplined over the zoo, and bungee jumped from a 100 foot tower.
              </p>
            </div>
          </div>

          <div class="card">
            <a href="../../assets/img/spanish.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/spanish.jpg" alt="" class="card-img-top img-fluid">
            </a>
            <div class="card-body">
              <h4 class="card-title">Duolingo Spanish</h4>
              <small class="text-muted">December 12, 2016</small>
              <hr>
              <p class="card-text">
                Speaking another language has always been of interest to me, and I worked with the DuoLingo app to accomplish that.
                I finished all the lessons for Spanish, and I have worked on Italian. Chinese was too difficult.
                Best of all, the app was free to use. 
              </p>
            </div>
          </div>

          <div class="card">
            <a href="../../assets/img/martialArts.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/martialArts.jpg" alt="" class="card-img-top img-fluid">
            </a>
            <div class="card-body">
              <h4 class="card-title">Martial Arts</h4>
              <small class="text-muted">March 20, 2015</small>
              <hr>
              <p class="card-text">
                While I was at Michigan State, I practiced martial arts twice each week. It took me two and a half
                years to earn a black belt, and it was well worth the time and effort. I recommend martial arts
                to anyone that wants to have more patience, self-discipline, and confidence. 
              </p>
            </div>
          </div>

          <div class="card">
              <a href="../../assets/img/dream-center-2018.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="../../assets/img/dream-center-2018.jpg" alt="" class="card-img-top img-fluid">
              </a>
              <div class="card-body">
                <h4 class="card-title">Dream Center of Pontiac</h4>
                <small class="text-muted">October 26, 2018</small>
                <hr>
                <p class="card-text">
                  During the fall of 2018, I volunteered to serve lunch at Dream Center of Pontiac. I enjoy spending time
                  helping those in need and it was a humbling experience to work with people in my local community.
                </p>
              </div>
            </div> 

          <div class="card">
            <a href="../../assets/img/rome.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/rome.jpg" alt="" class="card-img-top img-fluid">
            </a>
            <div class="card-body">
              <h4 class="card-title">Rome, Italy</h4>
              <small class="text-muted">July 8, 2014</small>
              <hr>
              <p class="card-text">
                While I was at Michigan State, I studied abroad in Rome, Italy.
                I traveled to the Vatican, Florence, Naples, Pompeii, Venice,
                and Ostia. My favorite place was the Vatican and seeing the Pope
                address the people during his Sunday morning speeches.
              </p>
            </div>
          </div>

          <div class="card">
            <a href="../../assets/img/summer-serve-2018.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/summer-serve-2018.jpg" alt="" class="card-img-top img-fluid">
            </a>
            <div class="card-body">
              <h4 class="card-title">Summer Serve Initiative</h4>
              <small class="text-muted">July 19, 2018</small>
              <hr>
              <p class="card-text">
                During the Summer of 2018, I participated in the Summer Serve Initiative. For this volunteer experience,
                I sanded an outdoor porch and painted the basement walls of a house in Pontiac. Shortly after renovating the house,
                women recovering from abuse moved into the safe haven. It was a pleasure serving the community.
              </p>
            </div>
          </div> 

          <div class="card">
            <a href="../../assets/img/meditation.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/meditation.jpg" alt="" class="card-img-top img-fluid border border border-top-0 border-left-0 border-right-0">
            </a>
            <div class="card-body">
              <h4 class="card-title">Headspace Meditation</h4>
              <small class="text-muted">November 7, 2017</small>
              <hr>
              <p class="card-text">
                Daily meditation reduces stress and improves self-awareness, as a result
                focusing and patience become easier. I have been doing meditation for two years and counting.
              </p>
            </div>
          </div>

          <div class="card">
            <a href="../../assets/img/angular-tutorials.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/angular-tutorials.jpg" alt="" class="card-img-top img-fluid border border-top-0 border-left-0 border-right-0">
            </a>
            <div class="card-body">
              <h4 class="card-title">Udemy Tutorials</h4>
              <small class="text-muted">March 13, 2018</small>
              <hr>
              <p class="card-text">
                Learning a new skill is one of my favorite activities. In October of 2017
                I discovered Udemy, and I spend a lot of my free time
                learning from the tutors on the website. Some of the skills I learned include
                sketching and developing websites using Bootstrap and Angular.
              </p>
            </div>
          </div>

          <div class="card">
            <a href="../../assets/img/football.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/football.jpg" alt="" class="card-img-top img-fluid">
            </a>
            <div class="card-body">
              <h4 class="card-title">College Football</h4>
              <small class="text-muted">September 17, 2016</small>
              <hr>
              <p class="card-text">
                Since I graduated from two universities with nationally recognized football programs,
                people usually ask me who I root for when they play each other. When
                Michigan State University played University of Notre Dame in September
                of 2016, I kept it neutral.
              </p>
            </div>
          </div>

          <div class="card">
            <a href="../../assets/img/navyTour.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/navyTour.jpg" alt="" class="card-img-top img-fluid">
            </a>
            <div class="card-body">
              <h4 class="card-title">Naval Ship Tour</h4>
              <small class="text-muted">March 7, 2017</small>
              <hr>
              <p class="card-text">
                In March 2017, I toured a Naval ship and submarine in San Diego, California.
                During that tour, I got a glimpse of life at sea and in the Navy.
                From what I could tell, military life is not easy. Thank you to all active duty
                military and Veterans for your service.
              </p>
            </div>
          </div>

          <div class="card">
            <a href="../../assets/img/sanFrancisco.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/sanFrancisco.jpg" alt="" class="card-img-top img-fluid border">
            </a>
            <div class="card-body">
              <h4 class="card-title">San Francisco, CA</h4>
              <small class="text-muted">March 10, 2016</small>
              <hr>
              <p class="card-text">
                For spring break of 2016, the ESTEEM program traveled to San Francisco.
                We walked the city, drove down Lombard Street, and got the standard picture of the Golden Gate Bridge.
                We saw Stanford University's campus, and toured companies, such as Facebook, Uber, and Zeltiq.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
