<header id="fun-header">
  <div class="dark-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center textInfo">
          <h1>What Is Fun For Me?</h1>
          <p class="d-none d-md-block">Fun for me is adventure, new experiences, and learning.</p>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- BLOG SECTION -->
<section id="blog" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card-columns">

          <div class="card">
            <a href="../../assets/img/giraffe.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/giraffe.jpg" alt="" class="card-img-top img-fluid">
            </a>
            <div class="card-body">
              <h4 class="card-title">The Toledo Zoo</h4>
              <small class="text-muted">August 15, 2017</small>
              <hr>
              <p class="card-text">
                Every once in a while, I go to the zoo to see some cool animals.
                Back in August of 2017, I went to the Toledo Zoo with my family.
                I fed giraffes, pet goats, saw tigers, crocodiles, and elephants,
                ziplined over part of the zoo, and even bungee jumped from a 100 foot tower!
              </p>
            </div>
          </div>

          <div class="card">
            <a href="../../assets/img/spanish.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/spanish.jpg" alt="" class="card-img-top img-fluid">
            </a>
            <div class="card-body">
              <h4 class="card-title">Duolingo Spanish</h4>
              <small class="text-muted">December 12, 2016</small>
              <hr>
              <p class="card-text">
                Speaking another language has always been of interest to me.
                Naturally, I was thrilled to find an app that would help me learn
                another language for free! I completed the Duolingo Spanish tree,
                and I have also worked on learning Italian!
              </p>
            </div>
          </div>

          <div class="card">
            <a href="../../assets/img/martialArts.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/martialArts.jpg" alt="" class="card-img-top img-fluid">
            </a>
            <div class="card-body">
              <h4 class="card-title">Martial Arts</h4>
              <small class="text-muted">March 20, 2015</small>
              <hr>
              <p class="card-text">
                Martial arts is a fulfilling experience that cultivates the mind,
                body, and spirit. It boosts confidence and improves body language.
                Earning a black belt in martial arts was one of the most satisfying
                times of my life because the journey to wear it was challenging
                and full of obstacles.
              </p>
            </div>
          </div>

          <div class="card">
            <a href="../../assets/img/rome.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/rome.jpg" alt="" class="card-img-top img-fluid">
            </a>
            <div class="card-body">
              <h4 class="card-title">Rome, Italy</h4>
              <small class="text-muted">July 8, 2014</small>
              <hr>
              <p class="card-text">
                While I was at Michigan State, I studied abroad in Rome, Italy.
                It was an amazing experience that opened my eyes to other cultures.
                Some of the places I traveled to were Florence, Naples, Pompeii, Venice,
                Ostia, and the Vatican. Of all those places, my favorite was Rome and
                the Colosseum.
              </p>
            </div>
          </div>


          <div class="card">
            <a href="../../assets/img/bootstrap.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/bootstrap.jpg" alt="" class="card-img-top img-fluid border border-top-0 border-left-0 border-right-0">
            </a>
            <div class="card-body">
              <h4 class="card-title">Udemy Tutorials</h4>
              <small class="text-muted">November 6, 2017</small>
              <hr>
              <p class="card-text">
                Learning a new skill is one of my favorite activities. In October of 2017
                I stumbled upon Udemy Tutorials, and I spend a lot of my free time
                learning from the tutors on the website. Some of my lessons are
                sketching and developing websites using Bootstrap and Angular.
              </p>
            </div>
          </div>

          <div class="card">
            <a href="../../assets/img/meditation.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/meditation.jpg" alt="" class="card-img-top img-fluid border border border-top-0 border-left-0 border-right-0">
            </a>
            <div class="card-body">
              <h4 class="card-title">Headspace Meditation</h4>
              <small class="text-muted">November 7, 2017</small>
              <hr>
              <p class="card-text">
                Daily meditation helps mitigate stress, improve focus, and heighten
                patience. I have been doing meditation for two years and counting.
              </p>
            </div>
          </div>

          <div class="card">
            <a href="../../assets/img/football.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/football.jpg" alt="" class="card-img-top img-fluid">
            </a>
            <div class="card-body">
              <h4 class="card-title">College Football</h4>
              <small class="text-muted">September 17, 2016</small>
              <hr>
              <p class="card-text">
                Since I graduated from two universities with top football programs,
                people usually ask me who I root for when they play head to head. When
                Michigan State University played University of Notre Dame in September
                of 2016, I kept it neutral. <i class="fa fa-smile-o" style="font-size:20px;"></i>
              </p>
            </div>
          </div>

          <div class="card">
            <a href="../../assets/img/navyTour.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/navyTour.jpg" alt="" class="card-img-top img-fluid">
            </a>
            <div class="card-body">
              <h4 class="card-title">Naval Ship Tour</h4>
              <small class="text-muted">March 7, 2017</small>
              <hr>
              <p class="card-text">
                In March 2017, I toured a Naval ship and submarine in San Diego, California.
                It was a ton of fun, and I got a glimpse of life at sea and in the Navy.
                From what I could tell, military life is hard. Thank you to all those
                that have served.
              </p>
            </div>
          </div>

          <div class="card">
            <a href="../../assets/img/sanFrancisco.jpg" data-toggle="lightbox" data-gallery="img-gallery">
              <img src="../../assets/img/sanFrancisco.jpg" alt="" class="card-img-top img-fluid border">
            </a>
            <div class="card-body">
              <h4 class="card-title">San Francisco, CA</h4>
              <small class="text-muted">March 10, 2016</small>
              <hr>
              <p class="card-text">
                For spring break of 2016, the ESTEEM program traveled to San Francisco.
                We traveled the city, drove down Lombard Street, saw the San Francisco bridge,
                walked around Stanford University's campus, and even toured companies,
                such as Facebook, Uber, and Zeltiq.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
