#fun-header{
    height:350px;
    position:relative;
    background:url('../../assets/img/fun.jpg');
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    color:#fff;
    border-bottom:1px #eee solid;
    .textInfo{
      padding-top:150px;
    }
  }
  @media (min-width: 34em) {
      .card-columns {
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1;
      }
  }
  @media (min-width: 48em) {
      .card-columns {
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;
      }
  }
  @media (min-width: 62em) {
      .card-columns {
          -webkit-column-count: 3;
          -moz-column-count: 3;
          column-count: 3;
      }
  }
  @media (min-width: 75em) {
      .card-columns {
          -webkit-column-count: 3;
          -moz-column-count: 3;
          column-count: 3;
      }
}